 body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    padding: 20px;
}
.job-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}
.job-card img.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.job-info {
    flex-grow: 1;
}
.job-info h3 {
    margin: 0 0 8px 0;
    font-size: 1.2em;
}
.job-info .company {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}
.job-info .meta span {
    margin-right: 15px;
    color: #666;
    font-size: 0.9em;
}
.job-info .title {
    color: blue; 
    font-size: 20px; 
    font-style: italic;
}
.apply-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #2e86de;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.apply-button:hover {
    background-color: #1b4f72;
    cursor: pointer;
}

/* tombol logout job list */
.logout {
    display: inline-block;
    background-color: #e91e63;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.logout:hover {
    background-color: #c2185b;
}
